body {
    background: url('catcomputer.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fact {
  color: white;
}

.nav ul, li {
    list-style: none;
    display: inline;
}

.nav a {
  color: #F8F8F8;
  font-size: 20px;
}

.nav a:hover {
  text-decoration: none;
  color: #A9A9A9
}
